:root{
    --horizontal-rythm-padding-value: 15px;
    --vertical-rythm-padding-value: 12px;
}
.sidebar{
    background: #222222;
    height: 100%;
}
.sidebarnav{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: var(--vertical-rythm-padding-value);
    margin-bottom: 1rem;
    width: 100%;
}
.sidebarnav__list{
    display: flex;
    padding: 0;
    margin: 0;
}
.sidebarnav__link{
    display: block;
    line-height: 40px;
    padding-left: var(--horizontal-rythm-padding-value);
    padding-right: var(--horizontal-rythm-padding-value);
    width: 100%;
    border-bottom: 0.5px solid #444444;
    color: #ffffff;
}
.sidebarnav__link:hover{
    color: #ffffff;
    background: #444444;
    text-decoration: none;
}