:root{
    --datatable-line-height: 2.5rem;
    --datatable-top-items-c: calc( (var(--datatable-line-height) / 2) - 1rem );
    --datatable-horizont-rythm: 15px;
    --datatable-vertical-rythm: 1rem;
    --datatable-horizont-rythm-half: 0.5rem;
    --datatable-border-color: #444444;
    --datatable-border-color-muted: #44444450;
    --datatable-border-wedth: 0.5px;
    --datatable-border: solid var(--datatable-border-wedth) var(--datatable-border-color);
    --datatable-paginate-border-redius: 0.2rem;
    --datatable-text-color: #222222;
    --datatable-text-active-color: #ffffff;
}
.datatable-area{
    overflow: scroll;
    height: 100vh;
}
.datatable{
    display: table;
}
.w-100{
    width: 100% !important;
}
.dataTables_wrapper{
    padding-top: var(--datatable-line-height);
    position: relative;
}
.dataTables_length, .dataTables_filter{
    position: absolute;
    top: var(--datatable-top-items-c);
    height: var(--datatable-line-height);
    display: flex;
    align-items: center;
}
.dataTables_length > *, .dataTables_filter > *{
    display: flex;
    align-items: center;
    height: var(--datatable-line-height);
    line-height: var(--datatable-vertical-rythm);
}
.dataTables_length select, .dataTables_filter input{
    line-height: var(--datatable-vertical-rythm);
    margin: 0 5px;
    border: solid var(--datatable-border-wedth) var(--datatable-border-color-muted);
    padding: var(--datatable-horizont-rythm-half);
    border-radius: var(--datatable-paginate-border-redius);
}
.dataTables_filter{
    right: var(--datatable-horizont-rythm);
}
.dataTables_filter label{
    display: inline-block;
    margin-right: var(--datatable-horizont-rythm);
}
.datatable td, .datatable th{
    padding-left: var(--datatable-horizont-rythm);
    padding-right: var(--datatable-horizont-rythm);
    padding-top: var(--datatable-horizont-rythm-half);
    padding-bottom: var(--datatable-horizont-rythm-half);
}
.datatable tr {
    border-bottom: solid var(--datatable-border-wedth) var(--datatable-border-color-muted);
}
.dataTables_paginate{
    display: flex;
    flex-direction: row;
    height: var(--datatable-line-height);
    justify-content: center;
    align-items: center;
    margin-top: calc( var(--datatable-vertical-rythm) * 1.5 );
}
.paginate_button{
    color: #222222;
    line-height: var(--datatable-line-height);
    padding-left: var(--datatable-horizont-rythm);
    padding-right: var(--datatable-horizont-rythm);
    border-left: var(--datatable-border);
    border-top: var(--datatable-border);
    border-bottom: var(--datatable-border);
    display: inline-block;
}
.paginate_button.previous{
    border-left: var(--datatable-border);
    border-top-left-radius: var(--datatable-paginate-border-redius);
    border-bottom-left-radius: var(--datatable-paginate-border-redius);
}
.paginate_button.next{
    border-right: var(--datatable-border);
    border-top-rigth-radius: var(--datatable-paginate-border-redius);
    border-bottom-right-radius: var(--datatable-paginate-border-redius);
}
.paginate_button:hover{
    background: var(--datatable-border-color);
    color: var(--datatable-text-active-color);
}
.paginate_button.current{
    background: var(--datatable-text-color);
    color: var(--datatable-text-active-color);
}